In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('data.csv')
df['naive forecast'] = df['Close'].shift(1)
df.head()

         Date   Close  naive forecast
0  1980-05-01  105.46             NaN
1  1980-05-02  105.58          105.46
2  1980-05-05  106.38          105.58
3  1980-05-06  106.25          106.38
4  1980-05-07  107.18          106.25

In [9]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(df['Close'][1:], df['naive forecast'][1:])
print(mse)

313.28620904820076